* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.login-page {
  margin-top: 200px;
  text-align: center;
}

.large {
  font-size: 45px;
}

form {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-input-1,
.user-input-2 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  margin-bottom: 5px;
}

.credentials,
.login {
  width: 100%;
  padding: 5px;
}
