* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.login-page {
  background-color: #fff;
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 50px
}

.welcome-msg {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.user-login label {
  font-weight: bold;
}

.credentials {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.show-password-button {
  background-color: #3498db;
  color: white;
  border: black, 5px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 100px
}

.user-login-button {
  background-color: #3498db;
  color: white;
  border: black, 5px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 100px;
}
.show-password-button:hover {
  background-color: #2980b9;
}

.user-login-button:hover {
  background-color: #2980b9;
}

.error-display {
  display: none;
  background-color: #e74c3c;
  color: white;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

.try-again-button {
  background-color: #c0392b;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.try-again-button:hover {
  background-color: #962d22;
}

.welcome-msg {
  color: red
}

main {
  background-color: seagreen;
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 20px;
  text-align: center;
}


main section {
  background-color: white;
  border-radius: 100px;
}

/* Media Query for Responsive Design */
@media (max-width: 600px) {
  .login-page {
    margin: 50px auto;
  }
}

.user-info {
  background-color: #005f73;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border-radius: 10px;
  height: 150px;
}

/* Place the trip request form at the bottom */
.trip-request-section {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;;
}

/* Additional styling adjustments */
.past-trips,
.pending-trips,
.upcoming-trips-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  font-size: 10px;
  height: 150px;
  text-align: left;
}

@media (max-width: 600px) {
  .login-page {
    margin: 50px auto;
  }
  .main {
    grid-template-columns: 1fr;
  }
}

